<div class="row">
   <div class="col-md-8">
     <div class="media">
       <div class="media-body">
         <h3 class="media-heading"> Username: <%= @user.name %> </h3>
         <h3 class="media-heading"> <%= link_to "Change password?" %> </h3>
       </div>
     </div>
   </div>
 </div>
